.box {
    background: url(../../../assets/img/img_bg.png) center bottom no-repeat;
    background-size: cover;
    padding-bottom: 100px;
}

.f-left li {
    height: 45px;
    line-height: 45px;
    font-size: 18px;
}

.f-left li.selected{
    border-left: 4px solid #00ACDB;
}

.f-right li {
    height: 60px;
    line-height: 60px;
    color: #888888;
}

li>a {
    display: block;
}

.f-right li a {
    color: #666666;
}

.f-right li a:hover {
    color: #00ACDB;
}

.f-right li:nth-child(2n-1) {
    background: #eeeeee;
}