<app-static-title [title]="title"></app-static-title>
<a class="w-100 mgTop-md" target="_blank"
    href="https://map.baidu.com/?newmap=1&ie=utf-8&s=s%26wd%3D%E5%85%B4%E4%B9%89%E4%BA%BA%E5%AE%89%E7%B2%BE%E7%A5%9E%E7%97%85%E5%8C%BB%E9%99%A2">
</a>
<div class="content mgTop-lg pdTop-lg">
    <app-home-title [title]="findTitle"></app-home-title>
    <ul class="x-list">
        <li class="w-50 h-100" *ngFor="let item of items">
            <i class="h-100"
                [ngStyle]="{'background': 'url(../../../assets/icon/icon-'+item.icon+'.png) no-repeat center center'}"></i>
            <label>
                <h3>{{item.name}}</h3>
                <h4>{{item.method}}</h4>
            </label>
        </li>
    </ul>
    <div class="f-clear"></div>
</div>
<aside class="w-100 pdTop-sm">
    <app-home-title [title]="contactTitle"></app-home-title>
    <form class="x-list content mgTop-lg pdTop-lg">
        <section class="w-50">
            <div class="mgBottom-lg" *ngFor="let item of inputList">
                <img src='../../../assets/icon/icon-{{item.icon}}.png'>
                <input data-form-text name='{{item.name}}' class="w-80 " type="text" placeholder="{{item.placeholder}}">
            </div>
        </section>
        <section class="w-50">
            <textarea data-form-text class="w-100" placeholder="{{textareaTip}}" name="leaveWord"></textarea>
        </section>
        <button class="bd-blue blue" type="button" (click)="submitSuggest()">提交</button>
    </form>
    <div class="f-clear"></div>
</aside>