<app-banners [data]="data"></app-banners>
<app-fast-nav></app-fast-nav>
<!-- 主页主体 -->
<div class="index-content">

    <!-- 新闻动态 -->
    <div class="news-content bg-grey">
        <div class="content">
            <ul class="x-list h-100">
                <!-- 新闻动态标题 -->
                <li class="h-100">
                    <h2 class="spacing">{{news_module.title.main}}</h2>
                    <h3 class="spacing blue">{{news_module.title.vice}}</h3>
                    <div></div>
                </li>
                <!-- 新闻列表 -->
                <li class="h-100">
                    <ul class="h-100">
                        <li *ngFor="let item of news_module.list">
                            <ul class="x-list h-100">
                                <li class="w-20 h-100 pdTop-md t-center">
                                    <h1 class="spacing blue">{{item.day}}</h1>
                                    <span>{{item.year}}年{{item.month}}月</span>
                                </li>
                                <li class="w-80 h-100 pdLeft-md pdTop-lg ellipsis-line">
                                    <a href="javascript:vodi(0)" [routerLink]="[ '/newsDetail/' + item.id ]"
                                        [queryParams]="{title: item.title}">
                                        <h3 class="spacing">{{item.title}}</h3>
                                        <span>{{item.content}}</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <!-- 新闻动态图片 -->
                <li class="h-100">
                    <div class="h-100 w-100">
                        <div *ngFor="let item of news_module.show.sources" class="h-48 w-90 bg-green">
                            <img class="b-center" src="{{item.src}}">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!-- 了解人安 -->
    <div class="about-content t-center">
        <app-home-title [title]="about_module.title"></app-home-title>
        <video controls width="{{about_module.video.width}}" height="{{about_module.video.height}}">
            <source src="{{about_module.video.source.src}}" type="{{about_module.video.source.type}}">
        </video>
    </div>

    <!-- 就医环境 -->
    <div class="env-content">
        <app-home-title [title]="env_module.title"></app-home-title>
        <div class="w-100">
            <ul class="x-list h-100">
                <li *ngFor="let item of env_module.items" class="w-25 h-100" [ngStyle]="{'background': item.color}"><img
                        class="b-center" src="{{item.src}}"></li>
            </ul>
        </div>
    </div>

    <!-- 疾病科普 -->
    <div class="disease-content">
        <app-home-title [title]="disease_module.title"></app-home-title>
        <div class="content x-list">
            <article *ngFor="let item of disease_module.items"
                [ngStyle]="{'background': 'url(' + item.img + ') no-repeat center center'}">
                <a class="w-100 h-100 ellipsis-line" [routerLink]="[ '/diseaseDetail/' + item.id ]"
                    [queryParams]="{name: item.name}" [ngStyle]="{'background-color': item.color}"
                    href="javascript:void(0)" title="{{item.name}}">{{item.name}}</a>
            </article>
        </div>
    </div>

</div>