<app-banners></app-banners>
<app-fast-nav></app-fast-nav>
<!-- 主页主体 -->
<div class="index-content">

    <!-- 新闻动态 -->
    <div class="news-content bg-grey">
        <div class="content">
            <ul class="x-list">
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>

    <!-- 了解人安 -->
    <div class="about-content">
        
        <video controls width="{{about_module.video.width}}" height="{{about_module.video.height}}">
            <source src="{{about_module.video.source.src}}" type="{{about_module.video.source.type}}">
        </video>
    </div>

    <!-- 就医环境 -->
    <div class="env-content">
    </div>

    <!-- 疾病科普 -->
    <div class="disease-content">
        <div class="content">

        </div>
    </div>

</div>