<div class="content">
    <ul class="x-list w-100">
      <li class="mgRight-md t-center bg-blue">
        <h2 class="mgTop-sm mgBottom-sm spacing ellipsis-line pdLeft-sm pdRight-sm">{{name}}</h2>
      </li>
      <li class="pdTop-sm pdBottom-sm pdLeft-sm pdRight-sm bd-blue">
        <h4 class="pdTop-sm pdBottom-sm pdLeft-md ellipsis-line">科室信息</h4>
        <!-- 科室介绍文章 -->
        <div id="{{id}}" class="mgTop-md mgBottom-md mgRight-md mgLeft-md"></div>
      </li>
    </ul>
    <div class="f-clear"></div>
  </div>